body {
  background-color: rgb(239, 207, 194);
  font-family: sans-serif;
  font-size: 22px;
}

#top-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  padding-top: 13px;
}

.top-button {
  width: 220px;
  padding: 5px 0px;
  margin-left: 50px;
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  justify-content: center;
}

#home-button {
  margin-left: 25px;
}

#books-button {
  margin-right: 25px;
}

#home-button {
  background: 5px 5px / 25px 25px no-repeat
    url("img/home.svg")
    rgb(218, 156, 126);
}

#messages-button {
  background: 5px 5px / 25px 25px no-repeat
    url("img/messages.svg")
    rgb(218, 156, 126);
}

#books-button {
  background: 5px 5px / 25px 25px no-repeat
    url("img/books.svg")
    rgb(218, 156, 126);
  margin-right: 15px;
}

#search-form {
  margin-right: 25px;
  margin-left: auto;
  position: relative;
  display: flex;
}

#search-query {
  font-size: 22px;
  border: 1px solid;
  border-radius: 22px;
  padding: 5px;
  padding-left: 36px;
  width: 330px;
}

#search-button {
  background: 5px 5px / 25px 25px no-repeat
    url("img/search.svg");
  height: 30px;
  width: 30px;
  border: none;
  position: absolute;
  left: 5px;
}

#left-menu {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  background-color: rgb(201, 116, 115);
  border: 1px solid;
  border-radius: 5px;
  padding: 6px 9px;
}

#left-menu.opend {
  left: 25px;
  opacity: 1;
  transition-property: left, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

#left-menu.closed {
  left: -222px;
  opacity: 0;
  transition-property: left, opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.left-button {
  width: 200px;
  padding: 3px 0px;
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  background-color: rgb(218, 156, 126);
  margin-bottom: 20px;
}

.left-select {
  width: 200px;
  height: 31px;
  padding: 3px 0px;
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  text-align-last: center;
  background-color: rgb(218, 156, 126);
  margin-bottom: 20px;
  font-size: 22px;
}

#mybooks-button {
  background: 5px 6px / 20px 20px no-repeat
    url("img/books.svg")
    rgb(218, 156, 126);
}

#contests-button {
  background: 5px 6px / 20px 20px no-repeat
    url("img/contests.svg")
    rgb(218, 156, 126);
}

#blogs-button {
  background: 5px 6px / 20px 20px no-repeat
    url("img/blogs.svg")
    rgb(218, 156, 126);
}

#add-button {
  background: 5px 6px / 20px 20px no-repeat
    url("img/add.svg")
    rgb(218, 156, 126);
}

.top-button,
.left-button {
  user-select: none;
}

.top-button:hover,
.top-button:focus,
.left-button:hover,
.left-button:focus {
  color: #f0f0f0;
  border-color: #000;
}
